:root { 
   --whiteColor : #F5F5F5;
   --redColor : #F05454;
   --navyColor : #30475E;
   --blackColor : #121212;
}

* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    display: grid;
    grid-template:
    "header"
    "about-info"
    "about"
    "portfolio"
    "resume"
    "blog"
    "contact"
    "footer";
}

/* header start */
.header {
    grid-area: header;
    background-color: var(--navyColor);
    background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-1 {
    text-align: center;
    flex: 1;
}

.header-2 {
    text-align: center;
    flex: 1;
}

h1 {
    font-size: 4rem;
    color: var(--whiteColor);
}

.job-role {
    font-size: 1.3rem;
    color: var(--whiteColor);
}


.profile-img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 50px;
    /* border: 8px solid var(--navyColor); */
}


/* header end */


.about-info {
    /* grid-area: about-info; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-1 {
    flex: 3;
    text-align: justify;
    padding: 4rem;
    font-size: 1.2rem;
    color: var(--blackColor);
}

.info-2 {
    flex: 1;
    text-align: center;
} 

.download-btn {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 95%;
    color: var(--whiteColor);
    background-color: var(--navyColor);
}

.about {
    grid-area: about;
}


.portfolio {
    grid-area: portfolio;
    background-color: rosybrown;
}

.resume {
    grid-area: resume;
    background-color: royalblue;
}


.blog {
    grid-area: blog;
    background-color: seagreen;
}

.contact {
    grid-area: contact;
    background-color: slategray;
}

.footer {
    grid-area: footer;
    background-color: teal;
}

@media only screen and (max-width: 425px) {

    h1 {
        font-size: 3rem;
        padding: 1rem;
    }

    .header-1 {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .header-2 {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-img {
        width: 300px;
        height: 300px;
    }


    .about-info {
        flex-direction: column;
    }

    .info-2 {
        width: 85%;
    }

    .download-btn {
        width: 80%;
    }
}