:root { 
   --whiteColor : #F5F5F5;
   --redColor : #F05454;
   --navyColor : #23263f;
   --blackColor : #121212;

   --animate-duration: 800ms;
   --animate-delay: 2s;
}

* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    display: grid;
    grid-template:
    "header"
    "about-info"
    "about"
    "portfolio"
    "resume"
    "blog"
    "contact"
    "footer";
}

/* header start */
.header {
    grid-area: header;
    background-color: var(--navyColor);
    background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-1 {
    text-align: center;
    flex: 1;
}

.header-2 {
    text-align: center;
    flex: 1;
}

h1 {
    font-size: 4rem;
    color: var(--whiteColor);
}

.job-role {
    font-size: 1.3rem;
    color: var(--whiteColor);
}


.profile-img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 50px;
    /* border: 8px solid var(--navyColor); */
}


/* header end */


.about-info {
    /* grid-area: about-info; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-1 {
    flex: 3;
    text-align: justify;
    padding: 4rem;
    font-size: 1.2rem;
    color: var(--blackColor);
}

.info-2 {
    flex: 1;
    text-align: center;
} 

.download-btn {
    font-size: 1.2rem;
    padding: .7rem;
    border-radius: 2rem;
    border: none;
    width: 90%;
    color: var(--whiteColor);
    background-color: var(--navyColor);
}

.download-btn:hover {
    background: none;
    border: 2px solid var(--navyColor);
    color: var(--navyColor);
}

.about {
    grid-area: about;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basic-info {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.basic-info h2 {
    margin-bottom: 2rem;
}

.basic-info ul {
    width: 100%;
}

.basic-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.basic-info ul li h5 {
    font-size: 1.2rem;
}

.my-skill {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}


.portfolio {
    grid-area: portfolio;
    text-align: center;
}

.portfolio h2 {
    font-size: 2rem;
    margin: 2rem;
}

.portfolio-grid { 
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    color: #444;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
  }

  .image-box img {
    max-width: 100%;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
  }


.resume {
    grid-area: resume;
    background-color: var(--navyColor);
}


.blog {
    grid-area: blog;
    background-color: seagreen;
}

.contact {
    grid-area: contact;
    background-color: slategray;
}

.footer {
    grid-area: footer;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #23263f;
}


/* Mobile css */
@media only screen and (max-width: 425px) {

    h1 {
        font-size: 3rem;
        padding: 1rem;
    }

    .header-1 {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .header-2 {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-img {
        width: 250px;
        height: 250px;
    }


    .about-info {
        flex-direction: column;
    }

    .info-2 {
        width: 85%;
    }

    .download-btn {
        width: 80%;
    }

    .about {
        flex-direction: column;
    }

    .basic-info {
        width: 85%;
        color: white;
        background: #23263f;
    }

    .my-skill {
        width: 85%;
    }

    .portfolio-grid { 
        grid-template-columns: 1fr;
    }
}